body{
	max-width: 1320px;
	margin: 0px auto;

}
header{
	border-bottom: 1px dashed rgb(150,150,150);
	margin-bottom: 30px;
}
header nav ul li{
	
	display: inline-block;
	margin-top: 70px;
	margin-bottom: 40px;
	margin-right: 40px;

}
#primerSeccion {
	
}


#segundaSeccion {

}
#segundaSeccion article{

}
#terceraSeccion{

}
#terceraSeccion article{

}
#terceraSeccion article span{

}

#secc01art01{

}

#secc01art02{

}
#secc01art03{

}
#secc01art04{

}
#secc01art05{

}
#secc03art01{

}
#secc03art02{


}
#secc03art03{

}
#logo{
	float: left;
	width: 267px;
	height: 64px;

}
#bandera{
	float: right;
	width: 38px;
	height: 38px;
	margin-top: 5px;
	margin-left: 5px;
}
#logo_rojo{
	float: right;
	width: 38px;
	height: 38px;
	margin-top: 5px;
	margin-left: 5px;
}
#mundo{
	float: right;
	width: 38px;
	height: 38px;
	margin-top: 5px;
	margin-left: 5px;
}
#go{
	position: relative;
	left: 710px;
	top: 50px;

}
#buy{
	position: relative;
	width: 70px;
	left: 410px;
	top: 110px;
}

.nito{
	font-weight: bold;
}


