body{
	font-size: 16px; /*1em*/
	max-width: 1300px;
	margin: 0px auto;

}
header{

}
header nav ul li{

}

#primerSeccion {
	border: 1px solid blue;
}
#segundaSeccion {
	border: 1px solid red;
}
#terceraSeccion{
	border: 1px solid green;
}


.letraG{
	font-size: 2em;
}
.letraGG{
	font-size: 3em;
}
.letraM{
	font-size: 1.5em;
}
.nito{
	font-weight: bold;
}
.colorG{
	color: gray;
}
.colorB{
	color: white;
}


