body{
	font-size: 16px; /*1em*/
	/*s*/
	/*1078 es requerimiento del cliente*/
	/*border: 1px solid blue;*/
	max-width: 2100px;
	background: #2B2B2B;

}
header{
	/*border: 1px solid blue;*/
	background: white;
}
header input{
	/*border: 1px solid blue;*/
	position: relative;
	left: 150px;
	float: left;
	top: 10px;

}
#primerSeccion {
	margin-bottom: 30px;
}
#primerSeccion article{
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	padding: 30px 20px;	
	width: 250px;
	height: 320px;
	margin-left: -5px;


	/*width: 230px;
	height: 300px;*/
	/*padding-left: 50px;*/
}
#logo{
	width: 200px;
	margin-bottom: 10px;
	margin-top: -30px;
	padding-left: 15px;
}
#menu{
	/*position: relative;*/
	/*width:  1024px;*/
	width: 1150px;
	/*height: 50px;*/
	margin-left: 210px;
	margin-bottom: 25px;
	/*bottom: 25px;*/
	/*top: 20px;*/ 
	/*margin-top: 10px;*/

}
#segundaSeccion {
	/*border:1px solid red;*/
	/*background:  	#3E3E3C; */
}
#segundaSeccion article{
	display: inline-block;
	padding-top: 25px;
	padding-left: 50px;
	padding-bottom: 25px;

}
#terceraSeccion{
	/*background: #3E3E3C;*/
}
#terceraSeccion article{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	padding-top: 25px;
	padding-left: 200px;
	padding-bottom: 25px;
	width: 300px;
}
#terceraSeccion article span{
	margin-top: 5px;
}
#newsRojo{

	width: 350px;
	padding-left: 100px;
	padding-bottom: 17px;
	border-bottom: 1px dashed rgb(200,200,200);
}
#newsVerde{
	width: 350px;
	padding-left: 100px;
	padding-bottom: 17px;
	border-bottom: 1px dashed rgb(200,200,200);
}
#newsClaro{
	width: 350px;
	padding-left: 100px;
	padding-bottom: 17px;
	border-bottom: 1px dashed rgb(200,200,200);
}
#readmore{
	float: right;
}

#secc01art01{
	margin-right: 70px;
}

#secc01art01 ul{
	list-style: none;
}
#secc01art01 ul li{
	padding-top: 15px;
	padding-left: 30px;
}

#secc01art02{
	/*width: 20%;*/
	margin-left: 60px;
	background: #A6BD53;
}
#secc01art03{
	/*width: 20%;*/
	background: #515151;
}
#secc01art04{
	/*width: 20%;*/
	background: #D42D3F ;
}
#secc01art05{
	/*width: 20%;*/
	background: #E4E4E4 ;
}
#secc03art01{
	margin-left: -90px;
}
#secc03art02{
	margin-left: 60px;

}
#secc03art03{
	margin-left: 10px;
}
.letraG{
	font-size: 2em;
}
.nito{
	font-weight: bold;
}
.colorB{
	color: white;
}
.colorG{
	color: #BCBCBC;
}
.colorGG{
	color: #808080;
}
.colorA{
	color:  #3366BB ;
}

